{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1><font face="Calibri" size="6">О сайте</font></h1>
<ul>
	<li><font face="Calibri" size="5">Наша компания “BrawlRealtor” занимается предоставлением услуг в виде аренды частных жилых помещений, у нас огромный опыт, за плечами 15 лет успешной работы.</font></li>
	<p></p>
	<li><font face="Calibri" size="5">Сайт поддерживают несколько инвесторов, также сайт пока что будет работать только в Республике Татарстан, но мы планируем увеличить охват нашего сайта, то есть аренда помещений будет по всей России.</font></li>
	<p></p>
	<li><font face="Calibri" size="5">Также наш интернет-сервис отличается от других тем, что работая на нем вы буквально за секунду можете найти себе подходящий дом, и арендовать его.</font></li>
</ul>
<p><font face="Calibri" size="5">(c) ООО "BrawlRealtor" c 2006 года</font></p>
{% endblock content %}
