{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 style="font-family: Calibri">О сайте</h1>
<ul>
	<li><font face="Calibri">Наша компания “BrawlRealtor” занимается предоставлением услуг в виде аренды частных жилых помещений, у нас огромный опыт, за плечами 15 лет успешной работы.</font></li>
	<li><font face="Calibri">Сайт поддерживают несколько инвесторов, также сайт пока что будет работать только в Республике Татарстан, но мы планируем увеличить охват нашего сайта, то есть аренда помещений будет по всей России.</font></li>
	<li><font face="Calibri">Также наш интернет-сервис отличается от других тем, что работая на нем вы буквально за секунду можете найти себе подходящий дом, и арендовать его.</font></li>
</ul>
<font face="Calibri" size="2">(c) ООО”BrawlRealtor” c 2006 года</font>
{% endblock content %}
