{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Домашняя страница</h1>
<center><img src="https://imageup.ru/img199/3759823/arendadomov.jpg" border="0" alt=""></center>
<table border="0" width="100%">
	<tr>
		<td width="33%">
		<p align="center">Первый дом</p>
		<p align="center">
		<img src="https://imageup.ru/img202/3759825/house.jpg" border="0" alt=""></td>
		<td width="33%">
		<p align="center">Второй дом</p>
		<p align="center">
		<img src="https://imageup.ru/img202/3759825/house.jpg" border="0" alt=""></td>
		<td width="33%">
		<p align="center">Третий дом</p>
		<p align="center">
		<img src="https://imageup.ru/img202/3759825/house.jpg" border="0" alt=""></td>
	</tr>
</table>

{% endblock content %}

