{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Домашняя страница</h1>
<center><img src="../static/images/ArendaDomov.jpg" alt="Моя картинка"></center>
<table border="0" width="100%">
	<tr>
		<td width="33%">
		<p align="center">Первый дом</p>
		<p align="center">
		<img border="0" src="../static/images/House.jpg" width="359" height="367"></td>
		<td width="33%">
		<p align="center">Второй дом</p>
		<p align="center">
		<img border="0" src="../static/images/House.jpg" width="359" height="367"></td>
		<td width="33%">
		<p align="center">Третий дом</p>
		<p align="center">
		<img border="0" src="../static/images/House.jpg" width="359" height="367"></td>
	</tr>
</table>

{% endblock content %}
