{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1><font face="Calibri" size="6">Третий дом, Татарстан респ., Казань, р-н Советский, ул. Дивизионная,</font></h1>
<table border="0" width="100%">
	<tr>
		<td width="60%" valign="top">
        <p><font face="Calibri" size="5">
        <b>Общая площадь:</b> 750 м²<br>
        <b>Участок:</b> 11 сот.<br>
        <b>Тип дома:</b> Кирпичный<br>
        <b>Этажей в доме:</b> 2<br>
        <b>Построен:</b> 2016
        </p>
        <p><font face="Calibri" size="4">
        Сдается  дом  в аренду на длительный срок 750 м2 + участок 11 соток.</br>
        <br>
        Просторный и комфортный коттедж в прекрасном и экологически чистом месте.</br>
        <br>
        Первая линия! Максимально комфортные подъездные пути!</br>
        <br>
        Просторная кухня гостиная,  индивидуальные комнаты, кабинеты, спортзал, гладильная, кладовая, 2 санузла, 2 ванные комнаты, стиральные, гардеробные и т.д.</br>
        <br>
        Дом подходит под реабилитационный центр,  дом престарелых, частную школу, детский сад.</br>
        <br>
        Установлены металлические двери.</br>
        <br>
        Облицовка коттеджа: фасадная штукатурка, которая не требует никого ухода и через много лет будет выглядеть также, как сейчас.</br>
        <br>
        Установлено отопление, система двух контурный котел.<br>
        <br>
        Газ, вода электричество в доме.<br>
        <br>
        Участок правильной прямоугольной формы, ровный.<br>
        <br>
        Рядом есть лесная посадка.<br>
        </font></p>
        </td>
		<td width="40%" valign="top">
        <p align="left"><img src="https://imageup.ru/img6/3760414/house3_1.jpg" border="0" alt=""></p>
        </td>
	</tr>
</table>
<p align="center"><img src="https://imageup.ru/img30/3760415/house3_2.jpg" border="0" alt=""></p>
<p align="center"><img src="https://imageup.ru/img234/3760417/house3_3.jpg" border="0" alt=""></p>
{% endblock content %}
