{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1><font face="Calibri" size="6">Первый дом, с. Речное, Республика Татарстан</font></h1>
<table border="0" width="100%">
	<tr>
		<td width="60%" valign="top">
        <p><font face="Calibri" size="5">На первой береговой линии<br>
        <b>Общая площадь:</b> 150 м²<br>
        <b>Участок:</b> 30 сот.<br>
        <b>Тип дома:</b> Деревянный<br>
        <b>Этажей в доме:</b> 2<br>
        <b>Построен:</b> 2018
        </p>
        <p><font face="Calibri" size="4">
        СОБСТВЕННИК сдает в аренду СЕМЕЙНЫЙ, дизайнерский КОТТЕДЖ в СТИЛЕ ШАЛЕ, полностью ЭКОЛОГИЧНЫЙ из бруса(без вредных материалов, ДЛЯ ВАШЕГО ЗДОРОВЬЯ), на ПЕРВОЙ БЕРЕГОВОЙ ЛИНИИ реки Кама.</br>
        <br>
        В коттедже все действующие Комуникации С ТЕПЛЫМ ПОЛОМ КЕРАМО ГРАНИТОМ БЕЛЫЙ МРАМОР.</br>
        <br>
        1 этаж: совмещенная кухня - КАМИННАЯ (с белым электрическим камином) гостиная 40к/м. Санузел, душевая.</br>
        <br>
        2 этаж: Большой зал - игровая 40к/м с панорамным остеклением с видом на широкий разлив Реки Кама.</br>
        <br>
        2 открытые террасы с видом на Каму по 16 к/м.</br>
        <br>
        ПРЕДОСТАВЛЯЕТСЯ КОМФОРТНЫЙ ВНЕДОРОЖНИК ПАДЖЕРО 4, (БЕСПЛАТНОЕ ТАКСИ) до коттеджа и обратно.</br>
        <br>
        Страховой взнос десять тысяч, возвращается при выезде. От 4 месяцев по 60 тыс в месяц.</br>
        <br>
        Стоимости по суточно семейным безалкогольным компаниям 8000 сутки.
        </font></p>
        </td>
		<td width="40%" valign="top">
        <p align="left"><img src="https://imageup.ru/img84/3760405/house1_1.jpg" border="0" alt=""></p>
        </td>
	</tr>
</table>
<p align="center"><img src="https://imageup.ru/img149/3760406/house1_2.jpg" border="0" alt=""></p>
<p align="center"><img src="https://imageup.ru/img123/3760407/house1_3.jpg" border="0" alt=""></p>
{% endblock content %}

