{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1><font face="Calibri" size="6">Второй дом, Татарстан респ., Лаишевский район, Матюшино деревня, ул. Грибная</font></h1>
<table border="0" width="100%">
	<tr>
		<td width="60%" valign="top">
        <p><font face="Calibri" size="5">
        <b>Общая площадь:</b> 153 м²<br>
        <b>Участок:</b> 7 сот.<br>
        <b>Тип дома:</b> Кирпичный<br>
        <b>Построен:</b> 2020
        </p>
        <p><font face="Calibri" size="4">
        Долгосрочная аренда нового дома!<br>
        <br>
        Дом коттедж в боровом матюшино начало поселка рядом озеро, супермаркет эдельвейс, пиццерия папа карло, хвойный лес, дом кирпичный (блок поротерм), мокрый фасад. Лаишевский район. В 30 минутах езды от центра города.<br>
        <br>
        На территории сделан ландшафтный дизайн, посажены туи растет газон.<br>
        <br>
        В доме 3 спальни в каждой встроенная гардеробная система, отдельно гардеробная комната, кухня, столовая, гостиная совмещена что создает большое пространство с выходом на террасу, два санузла, теплые полы, гараж теплый на два автомобиля. Дом полностью укомплектован новой мебелью, техникой<br>
        <br>
        Рядом поселки Вороновка, Петровский Кояшлы, Зеленый бор, Песчаные Ковали, Троицкий, Орёл, пляж, молодежный центр Волга(можно заниматься есть плавание, хоккей, лыжня, теннис и многие другие виды спорта), магазин, ресторан.<br>
        <br>
        Дом ранее не сдавался.
        </font></p>
        </td>
		<td width="40%" valign="top">
        <p align="left"><img src="https://imageup.ru/img268/3760408/house2_1.jpg" border="0" alt=""></p>
        </td>
	</tr>
</table>
<p align="center"><img src="https://imageup.ru/img224/3760409/house2_2.jpg" border="0" alt=""></p>
<p align="center"><img src="https://imageup.ru/img74/3760410/house2_3.jpg" border="0" alt=""></p>
{% endblock content %}
